.project-card {
	margin: 1rem;
	width: 18vw;
	height: 15vw;
	border-radius: 1rem;
	overflow: hidden;
	background: #1c1b23;
	cursor: pointer;
	user-select: none;
}

.project-image > img {
	max-width: 100%;
	/* height: 100%; */
}

.project-desc {
	padding: 1vw;
	/* background: #1c1b23; */
	color: #000;
	border-radius: 0 0 1rem 1rem;
	/* font-size: 1.4vmin; */
	font-size: small;
}

.project-desc > p {
	/* font-size: 0.8rem; */
	color: #999999;
	padding-top: 0.3rem;
}

.project-desc > h4 {
	color: #fff;
}
