.tech-card {
	margin: 1rem;
	padding: 0.2rem;
	border-radius: 0.3rem;
	background-color: var(--card-bg);
	width: 18rem;
	height: 10rem;
	overflow: hidden;
	user-select: none;
}

.tech-list-container {
	display: flex;

	flex-wrap: wrap;
	padding: 0.3rem;
}

.tech-list {
	/* border: 1px solid red; */
	height: 2.3rem;
	width: fit-content;
	color: var(--text-primary);
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0.3rem;
	margin: 0.2rem;
	background-color: var(--card-bg-secondary);
}
